# Load Packages

What we can recall from critisicm regarding this presentation:

- did not take the equal weighted as benchmark
- use total return indices (I think)

In [2]:
#### Import required Packages ####
import numpy as np
import pandas as pd
import seaborn as sb
import datetime as dt
import matplotlib.pyplot as plt
from pandas.tseries.offsets import MonthEnd

# Seaborn
sb.set_style("ticks")
sb.mpl.rc("figure", figsize=(16,8))
sb.mpl.rc("font", size=14)
plt.rcParams['xtick.direction'] = 'in'
plt.rcParams['ytick.direction'] = 'in'

# little function for later
def isNaN(string):
    return string != string

# Load Data

In [3]:
# rawdata is direct import from excel

# Import of excel data, sheet by sheet
xls_ETF = pd.ExcelFile("1_Data/Data Clean TM/Data_ETFxIndex_stiched.xlsx")
xls_Inflation = pd.ExcelFile("1_Data/Data Clean TM/Data_Inflation.xlsx")
xls_Yield = pd.ExcelFile("1_Data/Data Clean TM/Yields_Clean_TM.xlsx")
xls_FX = pd.ExcelFile("1_Data/Data Clean TM/Data_FX_spot.xlsx")

ETF_raw = pd.DataFrame(pd.read_excel(xls_ETF))
Inflation_raw = pd.DataFrame(pd.read_excel(xls_Inflation, 2))
Yield_long_raw = pd.DataFrame(pd.read_excel(xls_Yield, 2))
Yield_short_raw = pd.DataFrame(pd.read_excel(xls_Yield, 3))
FX_raw = pd.DataFrame(pd.read_excel(xls_FX, 3))

# keep a safe copy of the rawdata to compare the changes
ETF = ETF_raw.copy()
Inflation = Inflation_raw.copy()
Yield_long = Yield_long_raw.copy()
Yield_short = Yield_short_raw.copy()
FX = FX_raw.copy()

# Set date as index
ETF.set_index("Datum", inplace=True)
Inflation.set_index("Datum", inplace=True)
Yield_long.set_index("Datum", inplace=True)
Yield_short.set_index("Datum", inplace=True)
FX.set_index("Dates", inplace=True)

In [ ]:
# Drop all the columns in which only text is and safe them separately --> ONLY RUN ONCE
# ETF_text = ETF.iloc[0,:]
# Yield_text = Yield.iloc[0,:]
# Yield_short_text = Yield_short.iloc[0,:]
# cpicore_text = cpicore.iloc[0:1,:]
# ETF.drop([0], inplace = True)
# Yield.drop([0], inplace = True)
# Yield_short.drop([0], inplace = True)
# cpicore.drop([0,1], inplace = True)

# Value

Recent infl – the average of the headline and core annual CPI inflation rate
--> we don't have headline inflation


Effective target infl - The effective inflation target is the mean of the target range announced or implied by the authorities plus an adjusted for past “target misses”, which is the last 3 years’ average gap between actual inflation and the target means
--> we don't have target rates for all countries --> use 2.5 as target rate

Formula: (1/n)*recent infl + ((n-1)/n)*effective target infl

In [3]:
# first we will take the difference between the effective target (mean) inflation and the actual inflation

cpiheadline = Inflation.copy()

eff_target_diff = pd.DataFrame(columns = cpiheadline.columns, index = cpiheadline.index)

for i in eff_target_diff.columns:
    if i == "Australia":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.025
    elif i == "Canada":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "China":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "Germany":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "France":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "UK":
        eff_target_diff.loc[:"2003-11-28",i] = cpiheadline.loc[:"2003-11-28",i] - 0.025
        eff_target_diff.loc["2003-12-31":,i] = cpiheadline.loc["2003-12-31":,i] - 0.02
    elif i == "Italy":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "Japan":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.033
    elif i == "Singapore":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "USA":
        eff_target_diff.loc[:"2011-12-31",i] = cpiheadline.loc[:"2011-12-31",i] - 0.0185
        eff_target_diff.loc["2012-01-31":,i] = cpiheadline.loc["2012-01-31":,i] - 0.02
    elif i == "Spain":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
    elif i == "Switzerland":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.01
    elif i == "India":
        eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.04

<ipython-input-3-e12819c2dedb>:35: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.04
<ipython-input-3-e12819c2dedb>:26: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:11: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:24: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.033
<ipython-input-3-e12819c2dedb>:9: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.025
<ipython-input-3-e12819c2dedb>:13: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:33: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.01
<ipython-input-3-e12819c2dedb>:31: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:15: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02
<ipython-input-3-e12819c2dedb>:22: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  eff_target_diff.loc[:,i] = cpiheadline.loc[:,i] - 0.02

In [ ]:
np.nanmean(eff_target_diff.loc[:"2002-11-30", "Singapore"])
#np.nanmean(eff_target_diff.loc["2020-04-30":, "Singapore"])

In [4]:
# create the rolling 3-year average of the core inflation

# first I have to set up an empty dictionary to store the rolling averages
cpiheadline_avg = {}
for i in cpiheadline.columns:
    cpiheadline_avg[i] = []

# next up we iterate over the cpicore data to get the index and safe them in the dictionary
runner = len(cpiheadline.index)
for i in cpiheadline.index:
    if runner == 35:
        break
    
    for j,k in enumerate(cpiheadline.columns):
        inflation = np.nanmean(eff_target_diff.iloc[runner-36:runner, j])
        cpiheadline_avg[k].insert(0, inflation)
    runner -= 1
    
#cpiheadline_avg
cpiheadline_avg_trimmed = pd.DataFrame(cpiheadline_avg)

<ipython-input-4-718e0d68af44>:15: RuntimeWarning: Mean of empty slice
  inflation = np.nanmean(eff_target_diff.iloc[runner-36:runner, j])

In [ ]:
cpiheadline_avg_trimmed # until here I checked several times whether it is correct and it seems to work

In [5]:
# now we calculate the value formula:
# (1/n)*recent inflation + ((n-1)/n)*effective target inflation for the years: 2, 5, 10, 20, 30

# first we need to align the dataframes 
cpiheadline_trimmed = cpiheadline[35:]
cpiheadline_avg_trimmed.set_index(cpiheadline_trimmed.index, inplace = True)

# second we create an empty dictionary to fill with the calculations
formula_values = {}
x = 0
for i in cpiheadline_trimmed.columns:
    x += 1
    for j in [2,5,10,20,30]:
        formula_values[f"{i},{j}"] = []
formula_values = pd.DataFrame(columns = formula_values.keys(), index = cpiheadline_trimmed.index)


# now that we have the empty dictionary to fill, we start with caluclating the inflation expectation
for i,k in enumerate (cpiheadline_trimmed.columns):
    for j,m in enumerate([2,5,10,20,30]):
        formula_values.iloc[:,j+i*5] = (1/m)*cpiheadline_trimmed[k] +((m-1)/m)*cpiheadline_avg_trimmed[k]
        
#formula_values

<ipython-input-5-90c02453a451>:21: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  formula_values.iloc[:,j+i*5] = (1/m)*cpiheadline_trimmed[k] +((m-1)/m)*cpiheadline_avg_trimmed[k]

In [6]:
# now we have the issue that the Yield_clean data and the Inflation_clean data doesn't have the same sequence of countries
# to avoid this we resort the Yield_clean data to fit the Inflation_clean data

clean_names = ["Germany", "France","Spain","Italy","United Kingdom", "Switzerland", "China", "Australia", "Japan", "USA", "Canada", "Singapore", "India"]

# we split the dataframe into the different countries...
Germany = Yield_long.iloc[:,:5]
France = Yield_long.iloc[:,5:10]
Spain = Yield_long.iloc[:,10:15]
Italy = Yield_long.iloc[:,15:20]
UK = Yield_long.iloc[:,20:25]
Switzerland = Yield_long.iloc[:,25:30]
China = Yield_long.iloc[:,30:35]
Australia = Yield_long.iloc[:,35:40]
Japan = Yield_long.iloc[:,40:45]
USA = Yield_long.iloc[:,45:50]
Canada = Yield_long.iloc[:,50:55]
Singapore = Yield_long.iloc[:,55:60]
India = Yield_long.iloc[:,60:]

# ... and fusion them together to have the same order as the Inflation data (plus dividing by 100 to have same level as Inflation)
Yields_aligned = [India, Singapore, Canada, USA, Japan, Australia, China, Switzerland, UK, Spain, France, Germany, Italy]
Yields_aligned = pd.concat(Yields_aligned, axis=1)
Yields_aligned = Yields_aligned /100
#Yields_aligned

In [7]:
# in a next step we adjust the yield data to have the same lookback as the other data

Yield_trimmed = Yields_aligned[35:]

Real_yield = pd.DataFrame(0, columns = formula_values.columns, index = formula_values.index)

# now we take the difference between yield etf and inflation
for i,k in enumerate(formula_values.columns):
    for j,l in enumerate(formula_values.index):
        Real_yield.iloc[j,i] = Yield_trimmed.iloc[j,i] - formula_values.iloc[j,i]
#Real_yield

In [8]:
# in a final step we will average over the duration of the countries to get one average for each country

Real_yield_avg = pd.DataFrame(columns = cpiheadline_avg_trimmed.columns, index = Real_yield.index)

runner = 0
for i in range(0, len(Yields_aligned.columns)-1, 5):
    temp = pd.DataFrame(np.nanmean([Real_yield.iloc[:,i],Real_yield.iloc[:,i+1],Real_yield.iloc[:,i+2],Real_yield.iloc[:,i+3],Real_yield.iloc[:,i+4]], axis = 0))
    Real_yield_avg.iloc[:,runner] = temp.values
    runner +=1
    
#Real_yield_avg

<ipython-input-8-1ebfb3f6f625>:7: RuntimeWarning: Mean of empty slice
  temp = pd.DataFrame(np.nanmean([Real_yield.iloc[:,i],Real_yield.iloc[:,i+1],Real_yield.iloc[:,i+2],Real_yield.iloc[:,i+3],Real_yield.iloc[:,i+4]], axis = 0))
<ipython-input-8-1ebfb3f6f625>:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Real_yield_avg.iloc[:,runner] = temp.values
<ipython-input-8-1ebfb3f6f625>:7: RuntimeWarning: Mean of empty slice
  temp = pd.DataFrame(np.nanmean([Real_yield.iloc[:,i],Real_yield.iloc[:,i+1],Real_yield.iloc[:,i+2],Real_yield.iloc[:,i+3],Real_yield.iloc[:,i+4]], axis = 0))

# Momentum

In [ ]:
# Translate computeSortWeights into python
def compute_sort_weights(sort_variable, n_longs, n_shorts, long_high_values):
    """
    Generates portfolio weights based on sort_variable. The function ignores assets for which the sort variable is
    missing (NaN). All such assets get a weight of zero in the portfolio. n_longs and n_shorts denote the number of
    assets held long and short. When long_high_values is True, assets that have the highest values for sort_variable
    are held long and those with the lowest values are held short. Otherwise, the opposite holds.
    """
    # Find the assets with the highest and lowest values of the sort variable
    if long_high_values:
        list_of_longs = np.argpartition(-sort_variable, n_longs)[:n_longs]
        list_of_shorts = np.argpartition(sort_variable, n_shorts)[:n_shorts]
    else:
        list_of_longs = np.argpartition(sort_variable, n_longs)[:n_longs]
        list_of_shorts = np.argpartition(-sort_variable, n_shorts)[:n_shorts]

    # Assign the weights to assets in the list of longs and shorts
    n_assets = len(sort_variable)
    weights = np.zeros(n_assets)
    weights[list_of_longs] = 1 / n_longs
    weights[list_of_shorts] = -1 / n_shorts

    return weights

In [ ]:
def compute_sort_weights_GPT_2(sort_variable, n_longs, n_shorts, long_high_values):
    """
    Generates portfolio weights based on sort_variable. The function ignores assets for which the sort variable is
    missing (NaN). All such assets get a weight of zero in the portfolio. n_longs and n_shorts denote the number of
    assets held long and short. When long_high_values is True, assets that have the highest values for sort_variable
    are held long and those with the lowest values are held short. Otherwise, the opposite holds.
    """
    # Find the assets with the highest and lowest values of the sort variable
    if long_high_values:
        sort_variable_sorted = -sort_variable  # For long high values, sort descending
    else:
        sort_variable_sorted = sort_variable   # For long low values, sort ascending
    non_nan_assets = ~np.isnan(sort_variable_sorted)
    non_nan_count = np.count_nonzero(non_nan_assets)
    
    # Check if n_shorts is zero
    if n_shorts == 0:
        if non_nan_count < n_longs:
            n_longs = non_nan_count
        list_of_longs = np.argpartition(sort_variable_sorted, -n_longs)[-n_longs:]
        weights = np.zeros(len(sort_variable))
        weights[list_of_longs] = 1 / n_longs
        return weights
    
    # If n_shorts is not zero, handle normally
    if non_nan_count < n_longs:
        n_longs = non_nan_count
        n_shorts = 0
    elif n_shorts > 0 and non_nan_count < n_longs + n_shorts:
        n_shorts = non_nan_count - n_longs
    
    if long_high_values:
        list_of_longs = np.argpartition(sort_variable_sorted, -n_longs)[-n_longs:]
        list_of_shorts = np.argpartition(sort_variable_sorted, n_shorts)[:n_shorts]
    else:
        list_of_longs = np.argpartition(sort_variable_sorted, n_longs)[:n_longs]
        list_of_shorts = np.argpartition(sort_variable_sorted, -n_shorts)[-n_shorts:]

    # Assign the weights to assets in the list of longs and shorts
    n_assets = len(sort_variable)
    weights = np.zeros(n_assets)
    weights[list_of_longs] = 1 / n_longs
    weights[list_of_shorts] = -1 / n_shorts

    return weights

In [ ]:
def compute_sort_weights_GPT(sort_variable, n_longs, n_shorts, long_high_values):
    """
    Generates portfolio weights based on sort_variable. The function ignores assets for which the sort variable is
    missing (NaN). All such assets get a weight of zero in the portfolio. n_longs and n_shorts denote the number of
    assets held long and short. When long_high_values is True, assets that have the highest values for sort_variable
    are held long and those with the lowest values are held short. Otherwise, the opposite holds.
    """
    # Find the assets with the highest and lowest values of the sort variable
    if long_high_values:
        sort_variable_sorted = -sort_variable  # For long high values, sort descending
    else:
        sort_variable_sorted = sort_variable   # For long low values, sort ascending
    non_nan_assets = ~np.isnan(sort_variable_sorted)
    non_nan_count = np.count_nonzero(non_nan_assets)
    if non_nan_count < n_longs:
        n_longs = non_nan_count
        n_shorts = 0
    elif n_shorts > 0 and non_nan_count < n_longs + n_shorts:
        n_shorts = non_nan_count - n_longs
    
    if long_high_values:
        list_of_longs = np.argpartition(sort_variable_sorted, -n_longs)[-n_longs:]
        if n_shorts > 0:
            list_of_shorts = np.argpartition(sort_variable_sorted, n_shorts)[:n_shorts]
        else:
            list_of_shorts = []
    else:
        list_of_longs = np.argpartition(sort_variable_sorted, n_longs)[:n_longs]
        if n_shorts > 0:
            list_of_shorts = np.argpartition(sort_variable_sorted, -n_shorts)[-n_shorts:]
        else:
            list_of_shorts = []

    # Assign the weights to assets in the list of longs and shorts
    n_assets = len(sort_variable)
    weights = np.zeros(n_assets)
    weights[list_of_longs] = 1 / n_longs
    if n_shorts > 0:
        weights[list_of_shorts] = -1 / n_shorts

    return weights

In [ ]:
# first we take the average of the three Swiss indices



# s1 = ETF_price["Switzerland 1"]
# s2 = ETF_price["Switzerland 2"]
# s3 = ETF_price["Switzerland 3"]

#ETF_price.drop(["Switzerland 2", "Switzerland 3"], axis = 1, inplace = True)
#ETF_price.loc["2003-11-28":,"Switzerland 1"] = (np.nanmean([s1.loc["2003-11-28":], s2.loc["2003-11-28":], s3.loc["2003-11-28":]], axis = 0))
#ETF_price.rename(columns={"Switzerland 1": "Switzerland"}, inplace = True)
#ETF_price

In [4]:
# Create Monthly Returns out of ETF Prices
ETF_price = ETF.copy()
ETF_returns = ETF_price.pct_change()
ETF_ret = ETF_returns.tail(-1)
ETF_ret

,Germany,France,Spain,Italy,UK,Swiss comb,China,Australia,Japan,USA,Canada,Singapore,India
Datum,,,,,,,,,,,,,
2000-01-31,-0.004171,-0.005380,-0.003788,-0.002261,-0.008643,NaN,NaN,-0.002667,0.001062,NaN,NaN,NaN,NaN
2000-02-29,0.006663,0.005979,0.005704,0.005947,0.017969,NaN,NaN,0.021341,-0.005362,NaN,NaN,0.010291,NaN
2000-03-31,0.016454,0.016604,0.016070,0.013889,0.011709,NaN,NaN,0.012913,0.003724,NaN,NaN,0.004587,NaN
2000-04-28,-0.000372,-0.000371,-0.000186,0.000278,0.010394,NaN,NaN,0.003988,0.003371,NaN,NaN,0.005115,NaN
2000-05-31,0.004095,0.002878,0.002698,0.000185,0.000872,NaN,NaN,0.012299,0.006855,NaN,NaN,-0.005588,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.020856,0.021247,0.020407,0.027423,0.028590,-0.003167,0.014626,0.014057,-0.007105,0.026820,0.028205,0.024462,0.035617
2022-12-30,-0.040014,-0.046631,-0.039934,-0.045044,-0.040348,-0.026188,0.030486,-0.022093,-0.017501,-0.007295,-0.016807,0.013594,-0.014761
2023-01-31,0.016672,0.022153,0.018742,0.032246,0.026417,0.014935,0.027221,0.029014,-0.004038,0.026849,0.029945,-0.001737,0.016199
2023-02-28,-0.026330,-0.025761,-0.023048,-0.015409,-0.033117,-0.008727,-0.023555,-0.015928,0.016255,-0.022819,-0.021471,-0.021232,-0.011076
2023-03-31,0.026577,0.023355,0.024957,0.022337,0.029179,0.016104,0.014041,0.033902,0.024443,0.029306,0.023681,0.033286,0.020357

In [5]:
# Create Weights for Momentum

# Prep Work
nAssets = len(ETF_price.columns) # 13 Countries
nMonths = len(ETF_price) # 280 Months of prices (31.12.1999 - 31.03.2023)
lookbackStart = 12
lookbackEnd = 1
firstMonth = lookbackStart + 1 # we can only start computing weights in 13.month bc we have 12 months lookback 
nLongs = 5
nShorts = 5
momLongWeights = pd.DataFrame(np.zeros((nMonths, nAssets)))
momLSWeights = pd.DataFrame(np.zeros((nMonths, nAssets)))
long_weight = np.divide(1,nLongs)
short_weight = np.divide(1,nShorts)*(-1)

In [261]:
# return the n columns with maximum value
def n_max_row(df, n):
    return df.apply(lambda x: x.nlargest(n).index.tolist(), axis=1)

def n_min_row(df, n):
    return df.apply(lambda x: x.nsmallest(n).index.tolist(), axis=1)

In [6]:
 # Loop to get the Long weights and the Long/Short Weights

for month in range(firstMonth, nMonths):
     pastReturns = pd.DataFrame(np.divide(ETF_price.iloc[month - lookbackEnd, :], ETF_price.iloc[month - lookbackStart, :]) - 1)
     highReturns = pastReturns.nlargest(nLongs,columns=pastReturns.columns)
     lowReturns = pastReturns.nsmallest(nShorts,columns=pastReturns.columns)
     low_index = lowReturns.index
     high_index = highReturns.index
     pRet_index = pastReturns.index

     high_index_numbers = pRet_index.get_indexer(high_index)
     low_index_numbers = pRet_index.get_indexer(low_index)
     # Long Weights only
     momLongWeights.iloc[month,high_index_numbers] = long_weight
     # Long/Short Weights only
     momLSWeights.iloc[month,high_index_numbers] = long_weight
     momLSWeights.iloc[month,low_index_numbers] = short_weight

# Set Index and Column Names again
momLongWeights = momLongWeights.set_index(ETF_price.index).copy()
momLongWeights.columns = ETF_price.columns

momLSWeights = momLSWeights.set_index(ETF_price.index).copy()
momLSWeights.columns = ETF_price.columns

In [7]:
momLSWeights

            Germany  France  Spain  Italy   UK  Swiss comb  China  Australia  \
Datum
1999-12-31      0.0     0.0    0.0    0.0  0.0         0.0    0.0        0.0
2000-01-31      0.0     0.0    0.0    0.0  0.0         0.0    0.0        0.0
2000-02-29      0.0     0.0    0.0    0.0  0.0         0.0    0.0        0.0
2000-03-31      0.0     0.0    0.0    0.0  0.0         0.0    0.0        0.0
2000-04-28      0.0     0.0    0.0    0.0  0.0         0.0    0.0        0.0
...             ...     ...    ...    ...  ...         ...    ...        ...
2022-11-30     -0.2    -0.2   -0.2   -0.2 -0.2         0.2    0.2        0.0
2022-12-30     -0.2    -0.2   -0.2   -0.2 -0.2         0.2    0.0        0.2
2023-01-31     -0.2    -0.2   -0.2   -0.2 -0.2         0.2    0.2        0.0
2023-02-28     -0.2    -0.2   -0.2   -0.2 -0.2         0.0    0.2        0.2
2023-03-31     -0.2    -0.2   -0.2   -0.2 -0.2         0.2    0.0        0.2

            Japan  USA  Canada  Singapore  India
Datum
1999-12-31    0.0  0.0     0.0        0.0    0.0
2000-01-31    0.0  0.0     0.0        0.0    0.0
2000-02-29    0.0  0.0     0.0        0.0    0.0
2000-03-31    0.0  0.0     0.0        0.0    0.0
2000-04-28    0.0  0.0     0.0        0.0    0.0
...           ...  ...     ...        ...    ...
2022-11-30    0.2  0.0     0.0        0.2    0.2
2022-12-30    0.2  0.0     0.0        0.2    0.2
2023-01-31    0.2  0.0     0.0        0.2    0.2
2023-02-28    0.0  0.0     0.2        0.2    0.2
2023-03-31    0.2  0.0     0.2        0.2    0.0

            USA Canada Singapore India
Datum
2001-01-31  0.0    0.0       0.0   0.0
2001-02-28  0.0    0.0       0.0   0.0
2001-03-30  0.0    0.0       0.2   0.0
2001-04-30  0.0    0.0       0.0   0.0
2001-05-31  0.0    0.0       0.2   0.0
...         ...    ...       ...   ...
2022-10-31  0.0    0.0       0.2   0.2
2022-11-30  0.0    0.0       0.2   0.2
2022-12-30  0.0    0.0       0.2   0.2
2023-01-31  0.0    0.2       0.2   0.2
2023-02-28  0.0    0.2       0.2   0.2

[266 rows x 13 columns]

In [396]:
momLongWeights

,Germany,France,Spain,Italy,UK,Swiss comb,China,Australia,Japan,USA,Canada,Singapore,India
Datum,,,,,,,,,,,,,
1999-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-02-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.2,0.0,0.0,0.2,0.2
2022-12-30,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.2,0.0,0.0,0.2,0.2
2023-01-31,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.2,0.2,0.2
2023-02-28,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.2,0.2,0.2
2023-03-31,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.2,0.0,0.2,0.2,0.0

In [12]:
# Data Cleanup -> Returns in sync with weights!
momLongWeights_cut = momLongWeights.iloc[firstMonth:, :] # cut out first 13 months -> first row now is weight calculated at 31.01.2000; keep extra row at end tor Turnover
momLSWeights_cut = momLSWeights.iloc[firstMonth:, :] # cut out first 13 months -> first row now is weight calculated at 31.01.2000; keep extra row at end tor Turnover
ETF_ret_cut = ETF_ret.iloc[firstMonth :, :] # Not firstMonth+1 bc we dropped one row above in ret calculation -> we need Returns from 28.02.2000
dates4Fig = ETF_ret_cut.index
nMonths_actual = nMonths - (firstMonth+1)

In [13]:
momLongWeights_cut

,Germany,France,Spain,Italy,UK,Swiss comb,China,Australia,Japan,USA,Canada,Singapore,India
Datum,,,,,,,,,,,,,
2001-01-31,0.2,0.2,0.2,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0
2001-02-28,0.2,0.2,0.2,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0
2001-03-30,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.2,0.0
2001-04-30,0.2,0.2,0.2,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0
2001-05-31,0.0,0.2,0.2,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0,0.0,0.2,0.2
2022-12-30,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.2,0.0,0.0,0.2,0.2
2023-01-31,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0,0.0,0.2,0.2
2023-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.2,0.2
2023-03-31,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.2,0.0,0.2,0.2,0.0

In [26]:
np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)

/var/folders/p7/g7d04mzx5wn88jp9x3dzpb9w0000gn/T/ipykernel_33768/298289515.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)

Datum
2001-02-28    0.004859
2001-03-30    0.005880
2001-04-30   -0.010121
2001-05-31    0.001013
2001-06-29    0.005453
                ...
2022-11-30    0.010806
2022-12-30   -0.002874
2023-01-31    0.010875
2023-02-28   -0.009667
2023-03-31    0.025053
Length: 266, dtype: float64

In [29]:
np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)

/var/folders/p7/g7d04mzx5wn88jp9x3dzpb9w0000gn/T/ipykernel_33768/298289515.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)

Datum
2001-02-28    0.004859
2001-03-30    0.005880
2001-04-30   -0.010121
2001-05-31    0.001013
2001-06-29    0.005453
                ...
2022-11-30    0.010806
2022-12-30   -0.002874
2023-01-31    0.010875
2023-02-28   -0.009667
2023-03-31    0.025053
Length: 266, dtype: float64

In [35]:
# Calculate strategy Returns no TC
stratReturnsNoTC = pd.DataFrame(np.zeros((nMonths_actual, 2)))
# note we only take weights rows until end -1 bc we left one to much in
LongStratRet = np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)
LSStratRet = np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1) # RF monthly must be added!!!

/var/folders/p7/g7d04mzx5wn88jp9x3dzpb9w0000gn/T/ipykernel_33768/3178812333.py:4: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  LongStratRet = np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1)
/var/folders/p7/g7d04mzx5wn88jp9x3dzpb9w0000gn/T/ipykernel_33768/3178812333.py:5: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  LSStratRet = np.sum(np.multiply(ETF_ret_cut, momLongWeights_cut.iloc[ : -1, :]), axis=1) # RF monthly must be added!!!

In [36]:
pd.DataFrame([LongStratRet,LSStratRet]) #Not done yet

Datum,2001-02-28,2001-03-30,2001-04-30,2001-05-31,2001-06-29,2001-07-31,2001-08-31,2001-09-28,2001-10-31,2001-11-30,...,2022-06-30,2022-07-29,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-30,2023-01-31,2023-02-28,2023-03-31
0,0.004859,0.00588,-0.010121,0.001013,0.005453,0.010538,0.012616,0.008571,0.023587,-0.009864,...,-0.012201,0.014272,-0.010344,-0.025153,-0.004216,0.010806,-0.002874,0.010875,-0.009667,0.025053
1,0.004859,0.00588,-0.010121,0.001013,0.005453,0.010538,0.012616,0.008571,0.023587,-0.009864,...,-0.012201,0.014272,-0.010344,-0.025153,-0.004216,0.010806,-0.002874,0.010875,-0.009667,0.025053

# Carry

In [9]:
# for carry we will now calculate the differences between the long-term yields (2,5,10,20,30) and short-term yields (1M, 3M)
# we will create a dataframe for the 1M and the 3M

Carry_3m = pd.DataFrame(columns = Yield_long.columns, index = Yield_long.index)
avg_Carry_3m = pd.DataFrame(0, columns = Yield_short.columns, index = Yield_short.index)

runner = 0
counter = 0
for i in range(0,len(Yield_long.columns)):
    if counter == 5:
        runner += 1
        counter = 0
    Carry_3m.iloc[:,i] = Yield_long.iloc[:,i] - Yield_short.iloc[:,runner]
    counter += 1
    
for i in range(0,len(Yield_short.columns)):
    avg_Carry_3m.iloc[:,i] = np.nanmean([Carry_3m.iloc[:,i*5], Carry_3m.iloc[:,i*5+1], Carry_3m.iloc[:,i*5+2], Carry_3m.iloc[:,i*5+3], Carry_3m.iloc[:,i*5+4]], axis = 0)

avg_Carry_3m = avg_Carry_3m / 100

<ipython-input-9-b8644c83feae>:13: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Carry_3m.iloc[:,i] = Yield_long.iloc[:,i] - Yield_short.iloc[:,runner]
<ipython-input-9-b8644c83feae>:17: RuntimeWarning: Mean of empty slice
  avg_Carry_3m.iloc[:,i] = np.nanmean([Carry_3m.iloc[:,i*5], Carry_3m.iloc[:,i*5+1], Carry_3m.iloc[:,i*5+2], Carry_3m.iloc[:,i*5+3], Carry_3m.iloc[:,i*5+4]], axis = 0)

# Sort function to create the buckets

In [219]:
def pmp_Sort(sort_variable, n_longs, n_shorts, long_high_values=1, equal_weights_ls=False):
    """
    Generates portfolio weights based on sort_variable. The function ignores assets for which the sort variable is
    missing (NaN). All such assets get a weight of zero in the portfolio. n_longs and n_shorts denote the number of
    assets held long and short. When long_high_values is True, assets that have the highest values for sort_variable
    are held long and those with the lowest values are held short. Otherwise, the opposite holds.
    """
    # Find the assets with the highest and lowest values of the sort variable
    if long_high_values:
        sort_variable_sorted = sort_variable  # For long high values, sort descending
    else:
        sort_variable_sorted = -sort_variable   # For long low values, sort ascending
    non_nan_assets = ~np.isnan(sort_variable_sorted)
    non_nan_count = np.count_nonzero(non_nan_assets)
    
    # Check if n_shorts is zero
    if n_shorts == 0:
        tmp_long = list(sort_variable_sorted)
        tmp_long = [-10000000 if pd.isna(x) else x for x in tmp_long]
        list_of_longs = np.argsort(tmp_long)[-5:]
        
        weights = np.zeros(len(sort_variable))
        weights[list_of_longs] = 1 / n_longs
        return weights

    # If n_shorts is not zero, handle normally
    if non_nan_count < n_longs:
        n_longs = non_nan_count
        n_shorts = 0
    elif n_shorts > 0 and non_nan_count < n_longs + n_shorts:
        n_shorts = non_nan_count - n_longs
        
    if equal_weights_ls == True:
        n_shorts = non_nan_count // 2
        n_longs = non_nan_count // 2
        
    

    tmp_long = list(sort_variable_sorted)
    tmp_long = [-10000000 if pd.isna(x) else x for x in tmp_long]
    list_of_longs = np.argsort(tmp_long)[-5:]
        
    tmp_short = list(sort_variable_sorted)
    tmp_short = [100000000 if pd.isna(x) else x for x in tmp_short]
    list_of_shorts = np.argsort(tmp_short)[:5]
    

    # Assign the weights to assets in the list of longs and shorts
    n_assets = len(sort_variable)
    weights = np.zeros(n_assets)
    weights[list_of_longs] = 1 / n_longs
    weights[list_of_shorts] = -1 / n_shorts

    return weights

In [11]:
# Value
Value_weights = pd.DataFrame(columns = Real_yield_avg.columns, index = Real_yield_avg.index)

for i,k in enumerate(Real_yield_avg.index):
    temp = pmp_Sort(Real_yield_avg.iloc[i,:], 5,5)
    Value_weights.iloc[i,:] = temp


# Momentum





# Carry
Carry_weights = pd.DataFrame(columns = avg_Carry_3m.columns, index = avg_Carry_3m.index)

for i,k in enumerate(avg_Carry_3m.index):
    temp = pmp_Sort(avg_Carry_3m.iloc[i,:], 5, 5)
    Carry_weights.iloc[i,:] = temp

Carry_weights

,Germany,France,Spain,Italy,UK,Switzerland,China,Australia,Japan,USA,Canada,Singapore,India
Datum,,,,,,,,,,,,,
1999-12-31,0.2,0.2,0.0,0.2,-0.2,0.0,0.0,0.2,-0.2,-0.2,-0.2,0.2,-0.2
2000-01-31,0.2,0.2,0.2,0.2,-0.2,0.0,0.0,0.0,-0.2,-0.2,-0.2,0.2,-0.2
2000-02-29,0.2,0.2,0.2,0.2,-0.2,-0.2,0.0,0.0,0.0,-0.2,-0.2,0.2,-0.2
2000-03-31,0.0,0.2,0.2,0.2,-0.2,0.0,0.0,-0.2,0.2,-0.2,-0.2,0.2,-0.2
2000-04-28,0.0,0.2,0.2,0.2,-0.2,-0.2,0.0,-0.2,0.2,-0.2,-0.2,0.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,-0.2,0.2,0.2,0.2,0.0,-0.2,0.2,0.2,0.0,0.0,-0.2,-0.2,-0.2
2022-12-30,-0.2,0.2,0.2,0.2,0.0,-0.2,0.2,0.2,0.0,0.0,-0.2,-0.2,-0.2
2023-01-31,-0.2,0.2,0.2,0.2,0.0,-0.2,0.2,0.2,0.0,0.0,-0.2,-0.2,-0.2
2023-02-28,-0.2,0.2,0.2,0.2,0.0,-0.2,0.2,0.2,0.0,0.0,-0.2,-0.2,-0.2
2023-03-31,-0.2,0.2,0.2,0.2,0.0,-0.2,0.2,0.2,0.0,0.0,-0.2,-0.2,-0.2

In [93]:
Yields_aligned

,India,India.1,India.2,India.3,India.4,Singapore,Singapore.1,Singapore.2,Singapore.3,Singapore.4,...,Germany,Germany.1,Germany.2,Germany.3,Germany.4,Italy,Italy.1,Italy.2,Italy.3,Italy.4
Datum,,,,,,,,,,,,,,,,,,,,,
1999-12-31,0.10280,0.10778,0.11516,0.12467,0.12214,0.02247,0.04123,0.04677,0.04624,0.04606,...,0.04264,0.04992,0.05429,0.06172,0.06114,0.04414,0.05310,0.05659,0.06722,0.06180
2000-01-31,0.10106,0.10463,0.11141,0.12033,0.11808,0.02446,0.04176,0.04586,0.04543,0.04529,...,0.04473,0.05251,0.05614,0.06233,0.06147,0.04657,0.05435,0.05872,0.06774,0.06373
2000-02-29,0.09602,0.09955,0.10604,0.11660,0.11426,0.02492,0.03887,0.04382,0.04346,0.04334,...,0.04564,0.05169,0.05583,0.06004,0.05928,0.04695,0.05411,0.05862,0.06619,0.06231
2000-03-31,0.10192,0.10373,0.11063,0.11710,0.11536,0.02584,0.03853,0.04376,0.04338,0.04325,...,0.04499,0.04957,0.05284,0.05743,0.05659,0.04672,0.05206,0.05524,0.06300,0.05814
2000-04-28,0.09314,0.09851,0.10695,0.11211,0.11057,0.02918,0.03855,0.04342,0.04306,0.04294,...,0.04657,0.05106,0.05369,0.05834,0.05619,0.04860,0.05322,0.05585,0.06278,0.05888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.07001,0.07269,0.07392,0.07444,0.07495,0.03097,0.03263,0.03422,0.03177,0.02948,...,0.01899,0.01984,0.02117,0.02306,0.02148,0.02865,0.03509,0.04216,0.04462,0.04230
2022-12-30,0.07001,0.07269,0.07392,0.07444,0.07495,0.03097,0.03263,0.03422,0.03177,0.02948,...,0.01899,0.01984,0.02117,0.02306,0.02148,0.02865,0.03509,0.04216,0.04462,0.04230
2023-01-31,0.07001,0.07269,0.07392,0.07444,0.07495,0.03097,0.03263,0.03422,0.03177,0.02948,...,0.01899,0.01984,0.02117,0.02306,0.02148,0.02865,0.03509,0.04216,0.04462,0.04230
2023-02-28,0.07001,0.07269,0.07392,0.07444,0.07495,0.03097,0.03263,0.03422,0.03177,0.02948,...,0.01899,0.01984,0.02117,0.02306,0.02148,0.02865,0.03509,0.04216,0.04462,0.04230
2023-03-31,0.07001,0.07269,0.07392,0.07444,0.07495,0.03097,0.03263,0.03422,0.03177,0.02948,...,0.01899,0.01984,0.02117,0.02306,0.02148,0.02865,0.03509,0.04216,0.04462,0.04230

# Return calculation

In [90]:
# now that we have the weights of the different strategies and the returns of the ETF's we can calculate the returns

# Value

# first we need to align the length of the dataframes
ETF_value = ETF_returns.iloc[35:,:]
Value_returns = Value_weights.mul(ETF_value)

In [92]:
ETF_returns.iloc[35:,:]

,Germany,France,Spain,Italy,UK,Swiss comb,China,Australia,Japan,USA,Canada,Singapore,India
Datum,,,,,,,,,,,,,
2002-11-29,0.004096,0.004612,0.006146,0.005892,-0.006686,NaN,NaN,-0.000134,0.000259,NaN,NaN,0.005578,NaN
2002-12-31,0.019692,0.020076,0.020414,0.019192,0.023062,NaN,NaN,0.024808,0.002776,NaN,NaN,0.014985,NaN
2003-01-31,0.011233,0.011366,0.011973,0.010814,0.011192,NaN,NaN,0.003509,0.005066,NaN,NaN,0.006345,NaN
2003-02-28,0.010196,0.010484,0.011607,0.010025,0.006831,NaN,NaN,0.010193,0.001541,NaN,NaN,0.008890,NaN
2003-03-31,-0.003540,-0.003210,-0.003035,-0.002519,-0.005878,NaN,NaN,-0.005678,0.004148,NaN,NaN,0.007028,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.020856,0.021247,0.020407,0.027423,0.028590,-0.003167,NaN,0.014057,-0.007105,0.026820,0.028205,0.024462,0.035617
2022-12-30,-0.040014,-0.046631,-0.039934,-0.045044,-0.040348,-0.026188,NaN,-0.022093,-0.017501,-0.007295,-0.016807,0.013594,-0.014761
2023-01-31,0.016672,0.022153,0.018742,0.032246,0.026417,0.014935,NaN,0.029014,-0.004038,0.026849,0.029945,-0.001737,0.016199
2023-02-28,-0.026330,-0.025761,-0.023048,-0.015409,-0.033117,-0.008727,NaN,-0.015928,0.016255,-0.022819,-0.021471,-0.021232,-0.011076
2023-03-31,0.026577,0.023355,0.024957,0.022337,0.029179,0.016104,NaN,0.033902,0.024443,0.029306,0.023681,0.033286,0.020357

In [85]:
Value_weights

,India,Singapore,Canada,USA,Japan,Australia,China,Switzerland,UK,Spain,France,Germany,Italy
Datum,,,,,,,,,,,,,
2002-11-30,0.0,-0.2,0.0,0.2,0.2,-0.2,0.0,-0.2,0.2,-0.2,0.2,0.2,-0.2
2002-12-31,0.0,-0.2,0.0,0.2,0.2,-0.2,0.0,-0.2,0.2,-0.2,0.2,0.2,-0.2
2003-01-31,0.0,-0.2,0.2,0.2,0.2,-0.2,0.0,-0.2,0.2,-0.2,0.0,0.2,-0.2
2003-02-28,0.0,-0.2,0.0,0.2,0.2,-0.2,0.0,-0.2,0.2,-0.2,0.2,0.2,-0.2
2003-03-31,0.0,-0.2,0.0,0.2,0.2,-0.2,0.0,-0.2,0.2,-0.2,0.2,0.2,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.2,0.0,0.0,0.2,0.2,0.2,0.2,-0.2,-0.2,-0.2,0.0,-0.2,-0.2
2022-12-31,0.2,0.0,0.0,0.2,0.2,0.2,0.2,-0.2,-0.2,-0.2,0.0,-0.2,-0.2
2023-01-31,0.2,0.0,0.0,0.2,0.2,0.2,0.2,-0.2,-0.2,-0.2,0.0,-0.2,-0.2
2023-02-28,0.2,0.0,0.0,0.2,0.2,0.2,0.2,-0.2,-0.2,-0.2,0.0,-0.2,-0.2
2023-03-31,0.2,0.0,0.0,0.2,0.2,0.2,0.2,-0.2,-0.2,-0.2,0.0,-0.2,-0.2

# Benchmarking

In [ ]:
benchmark = df[["MSCI_EU"]]
benchmark = benchmark.loc["1999-12-31 00:00:00":"2022-09-30 00:00:00"]
benchmark

In [ ]:
bm_mtl_ret = mtl_ret = benchmark.pct_change().resample("M").agg(lambda x: (1+x).prod()-1) # pct_change creates ordinary returns, resample Monthly and aggregating with the (1+x) -1 formula to get monthly ordinary returns
bm_mtl_ret

In [ ]:
#compare momentum result vs benchmark
comparison = pd.DataFrame(bm_mtl_ret)
comparison["mom_ret"] = profits
comparison.rename(columns={ comparison.columns[0]: "bench_ret" }, inplace = True)
comparison["bench_indexed"] = comparison["bench_ret"].add(1).cumprod()
comparison["mom_indexed"] = comparison["mom_ret"].add(1).cumprod()
comparison

In [ ]:
comparison

# Comparison Plot

In [ ]:
# Plotting
fig, ax = plt.subplots()
ax.plot(comparison.index,comparison.mom_indexed, label="Momentum", color="red")
ax.plot(comparison.index,comparison.bench_indexed, label="MSCI EU", color="blue")
ax.legend(loc="best")
ax.set_ylabel('Monthly Returns')
ax.set_title("Momentum long/short 5 sectors monthly rebalancing vs MSCI EU, indexed 31.12.1999")